*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #255550;
    color: white;
    padding: 20px;
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h3{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
ul{
    background-color: black;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
li{
    margin-top: 10px;
}
img{
    width: 200px;
    height: auto;
    margin-top: 20px;
}